<%= stylesheet_link_tag "general" %>


<div style='width: 100%; background-color: black;'>

<% if @nav %>
<%= form_tag ({controller: 'sessions', action: 'delete', method: 'post'}) do %>
  <input type=submit value='logout', class='btn logout nav-btn'>
<% end %>
<%= button_to "My Posts", "/user", method: :get, class: 'btn nav-btn' %>
<% else %>
<%= button_to "Login", login_path, method: :get, class: 'btn login nav-btn' %>
<% end %>
<%= button_to "To Posts", posts_path, method: :get, class: 'btn nav-btn' %>
<%= button_to "Signup", "signup", method: :get, class: 'btn nav-btn' %>
<%= button_to "Home", home_index_path, method: :get, class: 'btn nav-btn' %>

</div>
