<%= stylesheet_link_tag "general" %>
<%= render TaskComponent.new(nav: isLoggedIn) %>

<div class='center-content'>
<h1>Signup Page</h1>
 <% if $newUser %>
  <ul><%= $newUser.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
<%= form_tag signup_index_path do %>
  <label>User name:</label><br>
  <%= text_field_tag :'user[userName]' %><br>
  
  <label>First name:</label><br>
  <%= text_field_tag :'user[firstName]' %><br>

  <label>Last name:</label><br>
  <%= text_field_tag :'user[lastName]' %><br>

  <label>Email:</label><br>
  <%= text_field_tag :'user[email]' %><br>
  
  <label>Password:</label><br>
  <%= text_field_tag :'user[password]' %><br>
  

  <%= submit_tag "Create Account", class: 'btn' %>
<% end %>
</div>