<%= stylesheet_link_tag "general" %>
<%= render TaskComponent.new(nav: isLoggedIn) %>

<div class='center-content'>
<h1>Signup Page</h1>

<% if $newUser %>
 <% if $newUser.errors.any? %>
  <ul style='list-style: none'><% $newUser.errors.full_messages.each do |msg| %>
      <li style='color: red'><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  
  <p><% $newUser.password %></p>
  <% end %>
<%= form_for :user, url: signup_index_path do |f|%>
  <label>User name:</label><br>
  <%= f.text_field :userName %><br>
  
  <label>First name:</label><br>
  <%= f.text_field :firstName %><br>

  <label>Last name:</label><br>
  <%= f.text_field :lastName %><br>

  <label>Email:</label><br>
  <%= f.text_field :email %><br>
  
  <label>Password:</label><br>
  <%= f.password_field :password %><br>
  <label>Confirm Password:</label><br>
  <%= f.password_field :password_confirmation %><br>
  

  <%= f.submit "Create Account", class: 'btn' %>
<% end %>
</div>