<%= stylesheet_link_tag "general" %>
<%= render TaskComponent.new(nav: isLoggedIn) %>

<%= stylesheet_link_tag "user" %>

    <div class='center-content'>
        <h1><%= @user.userName %>'s page</h1>
        <%= button_to "Create", "posts/new", method: :get, class: 'btn' %>
        <%= button_to "Back", "/home", method: :get, class: 'btn' %>


        <%  @user.posts.each  do |post|  %>
            <div style="display: inline-block">
                <h1 style="display: inline-block"><%= post.title %></h1>
                <p style="display: inline-block"><%= post.content %></p> 
                <%= button_to 'delete', {'action': 'delete', id: post.id}, :onclick => "return confirm('Warning: This will delete this post permanently. Are you sure?')", class: 'btn' %>
            </div>
        <% end %>
</div>