<h1>User page</h1>
<%= button_to "Create", "posts/new", method: :get %>
<%= button_to "Back", "/home", method: :get %>

<%= @user.posts.count %>

<%  @user.posts.each  do |post|  %>
<p>test <%= post.content %></p> 
<%= button_to 'delete', {'action': 'delete', id: post.id}, :onclick => "return confirm('Warning: This will delete this post permanently. Are you sure?')" %>

<% end %>