<%= stylesheet_link_tag "general" %>
<%= render TaskComponent.new(nav: isLoggedIn) %>

<div class='center-content'>
<h1><%= @showPost.title %></h1>
<p><%= @showPost.content %></p>
<%= button_to "Back", "/user", method: :get, class: 'btn' %>
</div>