<%= stylesheet_link_tag "general" %>
<%= render TaskComponent.new(nav: isLoggedIn) %>

<div class='center-content'>
<%begin %>
<%  @posts.each do |post|  %>
<p><%= post.title %><%= post.content %></p>
<%= form_tag comments_path do |comment|%>
  <label>Comment:</label><br>
  <%= text_field_tag :'comment[comment]' %><br>
  <%= hidden_field_tag :'comment[post]' => {value: post}%>
  <%= submit_tag "Post Comment", class: 'btn submit-btn' %>

<% end %>
<% end %>
<% rescue => e%>
    <p>Failed </p>
    
<% end %>
</div>