<%= stylesheet_link_tag "general" %>
<%= render TaskComponent.new(nav: isLoggedIn) %>

<div class='center-content'>
<%begin %>
<%  @posts.each do |post|  %>
<div class='post-box'>
<h3><%= post.title %></h3>
<p><%= post.content %></p>
<%= button_to "See Full Post", post_path(post.id), method: :get, class: 'btn' %>
</div>

<% end %>
<% rescue => e%>
    <p>Failed </p>
    
<% end %>
</div>