<%= stylesheet_link_tag "general" %>
<%= render TaskComponent.new(nav: isLoggedIn) %>
    <%= button_to "Back", home_index_path(), method: :get, class: 'btn' %>
<% @categories.each do |c| %>
<br>
    <%= link_to c.category, category_path(c.id) %>
<% end %>
<div class='center-content'>
<% if @showPosts %>
<%  @showPosts.posts.each do |post|  %>
<div class='post-box'>
<h3><%= post.title %></h3>
<small><%=  %></small>
<p><%= post.content %></p>
<%= button_to "See Full Post", post_path(post.id), method: :get, class: 'btn' %>
</div>
<% end %>
<% end %>
</div>


